name: basic tests ci

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  run-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Run basic tests
        run: pytest -q
      
      - name: Run tests with coverage (terminal only)
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term
      
